---
Checks: >
  -*
  bugprone-*
  cert-*
  cppcoreguidelines-*
  google-*
  hicpp-*
  misc-*
  modernize-*
  -modernize-use-trailing-return-type
  mpi-*
  openmp-use-default-none
  performance-*
  portability-*
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
