#include "{{ header_file }}"
#include <vector>
#include <string>

namespace ocl = openclcpp_lite;

{% if namespace is defined and namespace | length > 0 %}
namespace {{ namespace }} {
{% endif %}

namespace {

const char *src[] = {
{% for l in src %}    "{{ l }}",
{% endfor %}
};

}

using namespace ocl;

{{ class_name }}::{{ class_name }}() :
    Program(from_source(sizeof(src) / sizeof(char *), src))
{
    build();
}

{{ class_name }}::{{ class_name }}(Context context) :
    Program(from_source(context, sizeof(src) / sizeof(char *), src))
{
    build();
}

{% if namespace is defined and namespace | length > 0 %}
} // {{ namespace }}
{% endif %}
